body {
    font-family: Consolas, 'Courier New', monospace;
    padding-top: 1em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
}

.keyboard svg {
    width: inherit;
    height: inherit;
}

.keyboard .key-white {
    stroke: black;
    stroke-width: 1px;
    fill: white;
}

.keyboard .key-black {
    stroke: black;
    stroke-width: 1px;
    fill: black;
}

.keyboard .selected {
    fill: #ff001d;
}

.key-signature-panel {
    margin-bottom: 4px;
}

.key-signature-panel .title {
    padding: 4px;
    font-weight: bold;
    border: 1px solid gray;
    background: gray;
    color: white;
}

.key-signature-panel .tones {
    border: 1px solid gray;
    padding: 4px;
}

.key-signature-panel .tones.closed {
    display: none;
}
