body {
    font-family: Consolas, 'Courier New', monospace;
    padding-top: 1em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
}

.keys.black {
    margin-left: 8%;
}

div.key {
    display: inline-block;
    margin-right: 4px;
}

.keys.black > .key {
    width: 14%;
}

.filler {
    display: inline-block;
    width: 13%;
    margin-right: 4px;
}

.keys.white > .key {
    width: 13%;
}

.key > button {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
